@font-face {font-family: Verdana; src: url('verdana.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: Verdana; src: url('verdana-bold.ttf') format('truetype'); font-weight: bold; font-style: normal;}

body {text-align: center;color:white;background-color: #775500; background-size:auto; background-repeat: repeat; font-family:'Verdana', sans-serif;}
h1, h2, h3, h4, h5, h6 {color:#FFCC00}
button {font-family: 'Verdana',sans-serif;color: #917400; background-color:#FFCC00; border-style: none; padding: 10px;font-weight: bold;}
button:hover {cursor: pointer;}
button:active {background-color: #917400; color:#FFCC00;}
div {border-color: white; width: 100%; width: 50%; margin: 0 auto; box-sizing: border-box; border-style: solid; border-width: 5px; padding: 5px; margin-top: 5px; margin-bottom: 5px; overflow: auto;}
div.clear {background:none; color:white;border-color: #FFCC00;}

mark {background-color: #FFCC00; font-weight: bold;}
mark.inv {background-color: white; color:#FFCC00; font-weight: bold;}
table {border: 1px solid white; border-collapse: collapse;}
table a {color:white; font-weight: normal;}

a {color:#CAA200;font-weight: bold;text-decoration: none;}
a:hover {color:#FFCC00}
th, td {border: 1px solid}
li {text-align: left;}
.d {text-shadow: 0px 0px 20px #775500, 0px 0px 20px #775500;}

@media (max-width: 768px) {div {width: 100%;}}